.toolBar {
  height: 100vh;
  flex: 0 0 23vw;
  overflow: visible;

  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.toolBar__layerSelectionPrompt {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid #c3c3c3;
  cursor: pointer;
  transition: all .3s ease;
  background-color: #b3b3b3;
}

.toolBar__layerSelectionPrompt:hover {
  background-color: #ceffff
}

.toolBar__layerSelectionPrompt i {
  margin-right: 7px;
  margin-top: 2px;
  float: right;
}

.toolBar__layerSelectionOption {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid #c3c3c3;
  transition: all .3s ease;
  cursor: pointer;
}

.toolBar__layerSelectionOption.active {
  font-weight: 700;
}

.toolBar__layerSelectionOption:hover {
  background-color: #ceffff
}

.toolBar__createLayerOption {
  text-align: center;
}

.toolBar__layerForm {
  width: 100%;
}

.toolBar__layerForm label {
  width: 100%;
}

.toolBar__layerForm input {
  margin: 10px;
  width: 100%;
}

.toolBar__layerForm p {
  text-align: center;
  cursor: pointer;
}
